body {
  font-family: sans-serif;
}

a {
  color: #4090ff;
  text-decoration: none;
}

a:hover {
  color: #2060ff;
}

.column {
  display: inline-block;
  float: left;
  width: 50%;
}

#console {
  background-color: black;
  color: white;
}

textarea {
  font-family: monospace;
  resize: none;
}
